.formulario{
    margin-top: .5rem;
}

#myTabContent{
    margin-left: .5rem;
    
}
#boton-volver{
    max-width: fit-content;
    margin-left: auto;
}

#chart-container {
    width: 100%;
    height: auto;
}

#graphCanvas {
    width: 100%;
    height: auto;
    
}

.centrarRegistros{
    text-align: center;
}
